<h1 mat-dialog-title>{{data}}</h1>
<div mat-dialog-content>
    <form [formGroup]="myForm" class="form" (ngSubmit)="onSubmit()">
        <ng-container *ngIf="myForm.get('name').enabled">
            <mat-form-field>
                <input matInput placeholder="Name" type="text" formControlName="name" required name="name">
            </mat-form-field>
        </ng-container>
        <mat-radio-group formControlName="nameOptions" aria-label="Select an option">
            <mat-radio-button name="nameOptionsYes" value="yes" (change)="changeNameOption($event)">Yes</mat-radio-button>
            <mat-radio-button name="nameOptionsNo" value="no" (change)="changeNameOption($event)">No</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <mat-select matInput placeholder="Status" required formControlName="status" name="status">
                <mat-option *ngFor="let status of statuses" [value]="status">
                {{ status }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="myForm.invalid" color="primary">Save</button>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class="closeForm" (click)="onNoClick()" color="warn">Cancel</button>
</div>
  