.primary-color { color: var(--primary-color) !important; }
.blue { color: var(--secondary) !important; }
.green { color: var(--green) !important; }
.red { color: var(--red) !important; }
.delete-red { color: var(--red-light) !important; }
.passive-gray { color: var(--shade-6) !important; }
.passive-gray-light { color: var(--shade-5) !important; }
.text-color { color: var(--text-color) !important; }

.bordergray-t{ border-top: 1px solid var(--shade-3) !important; }
.bordergray-b{ border-bottom: 1px solid var(--shade-3) !important; }
.bordergray-l{ border-left: 1px solid var(--shade-3) !important; }
.bordergray-r{
    border-right: 1px solid var(--shade-3 !important);
}

.no-wrap{
    white-space: nowrap;
}
.pre-wrap{
    white-space: pre-wrap;
}
.table-scroll{
    padding-bottom: 30px;
    overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.underline{
    text-decoration: underline !important;
}
.disabled-cursor{
    cursor: not-allowed;
}

.fontsize-xl {font-size: $fontsize-xl};
.fontsize-l {font-size: $fontsize-l};
.fontsize-m {font-size: $fontsize-m};
.fontsize-s {font-size: $fontsize-s};
.fontsize-xs {font-size: $fontsize-xs};
.fontsize-xxs {font-size: $fontsize-xxs};

.transform-y--1{
    transform: translateY(-1px);
}
.transform-x--1{
    transform: translateX(-1px);
}
.transform-y-1{
    transform: translateY(1px);
}
.transform-x-1{
    transform: translateX(1px);
}

.w-200-px{
    width: 200px;
}
.w-250-px{
    width: 250px;
}
.w-300-px{
    width: 300px;
}
.w-350-px{
    width: 350px;
}
.w-400-px{
    width: 400px;
}
.w-450-px{
    width: 450px;
}
.w-500-px{
    width: 500px;
}

.mw-200-px{
    max-width: 200px;
}
.mw-250-px{
    max-width: 250px;
}
.mw-300-px{
    max-width: 300px;
}
.mw-350-px{
    max-width: 350px;
}
.mw-400-px{
    max-width: 400px;
}
.mw-450-px{
    max-width: 450px;
}
.mw-500-px{
    max-width: 500px;
}
.mw-550-px{
    max-width: 550;
}
.mw-600-px{
    max-width: 600px;
}
.mw-650-px{
    max-width: 650px;
}
.mw-700-px{
    max-width: 700px;
}
.mw-750-px{
    max-width: 750px;
}
.mw-800-px{
    max-width: 800px;
}
.mw-850-px{
    max-width: 850px;
}
.mw-900-px{
    max-width: 900px;
}
.mw-950-px{
    max-width: 950px;
}
.mw-1000-px{
    max-width: 1000px;
}
.mw-1050-px{
    max-width: 1050px;
}
.mw-1100-px{
    max-width: 1100px;
}
.mw-1150-px{
    max-width: 1150px;
}
.mw-1200-px{
    max-width: 1200px;
}
.mw-1250-px{
    max-width: 1200px;
}

// spacing padding helper classes
.p-xl { padding: $spacing-xl !important; }
.p-l { padding: $spacing-l !important; }
.p-m { padding: $spacing-m !important; }
.p-s { padding: $spacing-s !important; }
.p-xs { padding: $spacing-xs !important; }
.p-xxs { padding: $spacing-xxs !important; }
.p-xxxs { padding: $spacing-xxxs !important; }

.p-xxl { padding: $spacing-xxl; }
.pt-xxl { padding-top: $spacing-xxl; }
.pl-xxl { padding-left: $spacing-xxl; }
.pr-xxl { padding-right: $spacing-xxl; }
.pb-xxl { padding-bottom: $spacing-xxl; }
.pt-xl { padding-top: $spacing-xl !important; }
.pl-xl { padding-left: $spacing-xl !important; }
.pr-xl { padding-right: $spacing-xl !important; }
.pb-xl { padding-bottom: $spacing-xl !important; }
.pt-l { padding-top: $spacing-l !important; }
.pl-l { padding-left: $spacing-l !important; }
.pr-l { padding-right: $spacing-l !important; }
.pb-l { padding-bottom: $spacing-l !important; }
.pt-m { padding-top: $spacing-m !important; }
.pl-m { padding-left: $spacing-m !important; }
.pr-m { padding-right: $spacing-m !important; }
.pb-m { padding-bottom: $spacing-m !important; }
.pt-s { padding-top: $spacing-s !important; }
.pl-s { padding-left: $spacing-s !important; }
.pr-s { padding-right: $spacing-s !important; }
.pb-s { padding-bottom: $spacing-s !important; }
.pt-xs { padding-top: $spacing-xs !important; }
.pl-xs { padding-left: $spacing-xs !important; }
.pr-xs { padding-right: $spacing-xs !important; }
.pb-xs { padding-bottom: $spacing-xs !important; }
.pt-xxs { padding-top: $spacing-xxs !important; }
.pl-xxs { padding-left: $spacing-xxs !important; }
.pr-xxs { padding-right: $spacing-xxs !important; }
.pb-xxs { padding-bottom: $spacing-xxs !important; }
.pt-xxxs { padding-top: $spacing-xxxs !important; }
.pl-xxxs { padding-left: $spacing-xxxs !important; }
.pr-xxxs { padding-right: $spacing-xxxs !important; }
.pb-xxxs { padding-bottom: $spacing-xxxs !important; }

// spacing margin helper classes
.m-xl { margin: $spacing-xl !important; }
.m-l { margin: $spacing-l !important; }
.m-m { margin: $spacing-m !important; }
.m-s { margin: $spacing-s !important; }
.m-xs { margin: $spacing-xs !important; }
.m-xxs { margin: $spacing-xxs !important; }
.m-xxxs { margin: $spacing-xxxs !important; }

.m-xxl { margin: $spacing-xxl; }
.mt-xxl { margin-top: $spacing-xxl; }
.ml-xxl { margin-left: $spacing-xxl; }
.mr-xxl { margin-right: $spacing-xxl; }
.mb-xxl { margin-bottom: $spacing-xxl; }
.mt-xl { margin-top: $spacing-xl !important; }
.ml-xl { margin-left: $spacing-xl !important; }
.mr-xl { margin-right: $spacing-xl !important; }
.mb-xl { margin-bottom: $spacing-xl !important; }
.mt-l { margin-top: $spacing-l !important; }
.ml-l { margin-left: $spacing-l !important; }
.mr-l { margin-right: $spacing-l !important; }
.mb-l { margin-bottom: $spacing-l !important; }
.mt-m { margin-top: $spacing-m !important; }
.ml-m { margin-left: $spacing-m !important; }
.mr-m { margin-right: $spacing-m !important; }
.mb-m { margin-bottom: $spacing-m !important; }
.mt-s { margin-top: $spacing-s !important; }
.ml-s { margin-left: $spacing-s !important; }
.mr-s { margin-right: $spacing-s !important; }
.mb-s { margin-bottom: $spacing-s !important; }
.mt-xs { margin-top: $spacing-xs !important; }
.ml-xs { margin-left: $spacing-xs !important; }
.mr-xs { margin-right: $spacing-xs !important; }
.mb-xs { margin-bottom: $spacing-xs !important; }
.mt-xxs { margin-top: $spacing-xxs !important; }
.ml-xxs { margin-left: $spacing-xxs !important; }
.mr-xxs { margin-right: $spacing-xxs !important; }
.mb-xxs { margin-bottom: $spacing-xxs !important; }
.mt-xxxs { margin-top: $spacing-xxxs !important; }
.ml-xxxs { margin-left: $spacing-xxxs !important; }
.mr-xxxs { margin-right: $spacing-xxxs !important; }
.mb-xxxs { margin-bottom: $spacing-xxxs !important; }

.mt-none{margin-top: 0 !important;}
.pl-none{padding-left: 0 !important;}

// font weights
.fontweight-300 { font-weight: 300; }
.fontweight-400 { font-weight: 400; }
.fontweight-500 { font-weight: 500; }
.fontweight-600 { font-weight: 600; }