<ng-container *ngIf="ready">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status | nulldash}} </td>
      </ng-container>
  
      <!-- LeasingCompany Column -->
      <ng-container matColumnDef="leasingCompany">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> LeasingCompany </th>
        <td mat-cell *matCellDef="let row"> {{row.leasingCompany | nulldash}} </td>
      </ng-container>
  
      <!-- Supplier Column -->
      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier </th>
        <td mat-cell *matCellDef="let row"> {{row.supplier | nulldash}} </td>
      </ng-container>

      <!-- VehicleType Column -->
      <ng-container matColumnDef="vehicleType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> VehicleType </th>
        <td mat-cell *matCellDef="let row"> {{row.vehicleType | nulldash}} </td>
      </ng-container>

      <!-- Ready Column -->
      <ng-container matColumnDef="isReady">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ready </th>
        <td mat-cell *matCellDef="let row"> {{row.isReady}} </td>
      </ng-container>

      <!-- VehicleModel Column -->
      <ng-container matColumnDef="vehicleModel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> VehicleModel </th>
        <td mat-cell *matCellDef="let row"> {{row.vehicleModel | nulldash}} </td>
      </ng-container>

      <!-- CarValueEuros Column -->
      <ng-container matColumnDef="carValueEuros">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CarValueEuros </th>
        <td mat-cell *matCellDef="let row"> {{row.carValueEuros | customCurrency:true | nulldash}} </td>
      </ng-container>

      <!-- CreationDate Column -->
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let row"> {{row.creationDate | nulldash}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of orders"></mat-paginator>
  </div>
</ng-container>