<div class="container">
  <div class="d-flex justify-content-between pt-s">
    <h1>Orders</h1>
    <button button="submit" mat-raised-button color="primary" (click)="openDialog()" name="addOrder">
      <mat-icon>note_add</mat-icon> Add Order
    </button>
  </div>
  <app-order-table></app-order-table>
</div>