<header>
    

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h1 class="pr-l">Technical Test</h1>
        <nav class="d-flex left">
          <a mat-button [routerLink]="'/orders'" routerLinkActive="mat-accent"> Orders </a>
          <a mat-button [routerLink]="'/repairs'" routerLinkActive="mat-accent"> Repairs </a>
        </nav>
      </mat-toolbar-row>
    </mat-toolbar>

  </header>